body,html{
box-sizing:border-box;
}

nav {
    overflow: hidden;
        background-color:pink;
                padding:10px;  
          
}
.links
{
    font-family:'Segoe UI';
    font-weight:bold;
    float:left;
    color:black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
      
}
nav .logo{
    font-size:25px;
    font-weight: bold;
}
nav .links:hover{
    background-color:rgb(238, 77, 198);
    color: white;
    }
nav. .selected{
        background-color:rgb(168, 43, 168);
        color: white;
        }
.rightSection{
            float: right;
}
@media screen and (max-width:870px)
{
    nav.links{
        float:none;
        display: block;
        text-align: left;
    }
    .rightSection{
        float:none;
       
    }
}